
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');
/* ESTILO GERAL */

/* VARIAVEL DA COR */
:root {
    --cor1: #02d1f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-color: rgb(4, 4, 44);
    height: 100vh;
    color: white;
}



.interface {
    max-width: 100%;
    margin: auto;

}

.interface #h2 {
    font-size: 1.5rem;
}

#inicio {
    gap: 300px;
}


.flex {
    display: flex;
    align-items: center;
    
}

.btn-contato button {
    padding: 5px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--cor1);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: 30px 0;
    color: rgb(0, 0, 155);
}

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px var(--cor1);
    transform: scale(1.05);

}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--cor1);
}

/* FIM ESTILO GERAL */

/* ESTILO DO CABEÇALHO */
header {
    padding: 5px 4%;
    background-image: linear-gradient(to bottom, #18005c,var(--cor1));
    height: 100px;
    margin-bottom: 30px;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 1.1rem;
}

header a:hover {
    color: var(--cor1);
    transform: scale(1.05);
    
}

header nav ul {
    list-style-type: none;
    
}

header nav ul a:hover {
    border-bottom: 2px solid var(--cor1);
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    
}


/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 10px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
}

.topo-do-site h1 {
    color: var(--cor1);
    font-size: 38px;
    line-height: 40ox;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--cor1);
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;

}


.topo-do-site .img-topo-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imgperfil{
    width: 300px;
    height: 300px;
    position: relative;
    border: 2px solid var(--cor1);
    border-radius: 50%;
    
}

.topo-do-site .img-topo-site img {
    width: 400px;
    height: 250px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border: 2px solid var(--cor1);
    border-radius: 20px;
}

#carta  {
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.flex {
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img-port {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 10s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    margin: 5px 5px;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay a {
    color: #fff;
}

.overlay:hover {
    opacity: 1;
}

#powerBI{
    display: flex;
    flex-direction: column;

}

.principal{
    width: 300px;
    height: 200px;
    background-color: #02d1f5;
    border-radius: 10px;
    padding-top: 10px;
}

.bi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.bi img {
    width: 90%;
    height: 70%;
    margin: 5px 0px;
}

.bi button {
    width: 200px;
    height: 25px;
    background-color: #02d1f5;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}


/* ESTILO DO RODAPE */

footer {
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px #02d1f53b;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 10px 0;
}

.borda {
    border-top: 2px solid var(--cor1);
}

footer .line-footer p i {
    color: var(--cor1);
    font-size: 22px;

}

footer .line-footer p a {
    color: #fff;
    padding-left: 10px;
}

/* MIDIAS CRIERES */
@media screen and (max-width: 1020px) {
    .meu-desktop, .btn-contato {
        display: none;
    }

    .flex {
        flex-direction: column;
    }

    
}


@media (max-width: 395px) {
    section.topo-do-site h1 {
        font-size: 2rem;
        
    }

    section.topo-do-site .img-topo-site img {
        width: 300px;
        height: 300px;
    }

    section.sobre .img-sobre img {
        width: 300px;
        height: 300px;
    }

    section.portfolio .img-port {
        width: 300px;
        margin: auto;
    }

    section.portfolio .titulo {
        font-size: 2rem;
    }
}












