@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');
:root {
    --cor1: #02d1f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: rgb(4, 4, 44);
    height: 100vh;
    color: white;
}


header {
    text-align: center;
}

header h1 {
    color: var(--cor1);
}


/* STILO DA PRIMEIRA SECTION */
section.modelo, section.modelo2 {
    padding: 10px 4%;
    
}

section .principal {
    display: flex;
    gap: 20px;
    margin: auto;
    
}

section .principal .atividade-principal {
    width: 270px;
}


section .principal .atividades .atividade-principal {
    height: 275px;
}

.modelo .atividade-principal {
    border: 2px solid var(--cor1);
    border-radius: 10px;
    
}



section .atividades2 {
    display: flex;
    gap: 20px;

}

section .atividades2 .atividade-principal {
    border: 2px solid var(--cor1);
    border-radius: 10px;
    margin: auto;
    width: 1000px;
}

.modelo i, .modelo2 i {
    font-size: 2rem;
    color: var(--cor1);
    padding-left: 10px;
}

.modelo p, .modelo2 p {
    text-align: justify center;
    padding-left: 10px;
}

.modelo h1, .modelo2 h1 {
    padding-left: 10px;
    font-size: 1rem;
    color: var(--cor1);
    font-weight: bolder;
}

/* MIDA QUEIRE */ 

@media (max-width:395px) {
    
    .modelo .principal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .modelo2 .atividades2 {
        flex-direction: column;
        justify-content: center;
    }

    .modelo2 .principal2 .atividades2 .atividade-principal {
        width: 270px;
    }
}

















