
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-color: rgb(3, 3, 58);
    height: 100vh;
    color: white;
}
.interface {
    max-width: 1200px;
    margin: 0 auto;
}
/* FIM ESTILO GERAL */

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 1.2rem;
}

header a:hover {
    color: #02d1f5;
    transform: scale(1.05);
    
}

header nav ul {
    list-style-type: none;
    
}

header nav ul a:hover {
    border-bottom: 2px solid #02d1f5;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #02d1f5;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #02d1f5;
    
    
}

 
