
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');
/* ESTILO GERAL */

/* VARIAVEL DA COR */
:root {
    --cor1: #02d1f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(4, 4, 44);
    color: white;
}

main {
    flex: 1;
}


/* ##################ESTILO DO CABEÇALHO###################### */

.interface {
    max-width: 100%;
    margin: auto;

}

.btn-contato button {
    padding: 5px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--cor1);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: 30px 0;
    color: rgb(0, 0, 155);
}

button:hover, form .btn-contato input:hover {
    box-shadow: 0px 0px 8px var(--cor1);
    transform: scale(1.05);

}

h2.titulo {
    color: #fff;
    font-size: 28px;
    text-align: center;
}

header {
    padding: 5px 4%;
    background-image: linear-gradient(to bottom, #18005c,var(--cor1));
    height: 100px;
    
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 1.1rem;
}

header a:hover {
    color: var(--cor1);
    transform: scale(1.05);
    
}

header nav ul {
    list-style-type: none;
    
}

header nav ul a:hover {
    border-bottom: 2px solid var(--cor1);
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    
}

/* ##################ESTILO DA PAGINA INICIAL###################### */


.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#inicio {
    gap: 300px;
}

section.topo-do-site {
    padding: 0px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
}

.topo-do-site h1 {
    color: var(--cor1);
    font-size: 38px;
    line-height: 40ox;
}

.topo-do-site .img-topo-site{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgperfil{
    width: 300px;
    height: 300px;
    position: relative;
    border: 2px solid var(--cor1);
    border-radius: 50%;
    
}

.topo-do-site .img-topo-site img {
    width: 400px;
    height: 250px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border: 2px solid var(--cor1);
    border-radius: 20px;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 5px 10px;
    font-size: 0.8rem;
}


/* ##################ESTILO DA PAGINA WEBSITE###################### */

#website{
    padding: 0px 20px;
}
.img-port {
    width: 220px;
    height: 300px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 10s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    margin: 5px 5px;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay a {
    color: #fff;
}

.overlay:hover {
    opacity: 1;
}


/* ################## ESTILO PAGINA CARTA ###################### */


.carta{
    background-color: #ececec;
    color: black;
    height: 84.6%;
    padding-top: 20px;
}
#carta  {
    width: 600px;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-style: italic;
    box-shadow: 5px 0px 5px #2c2c2c;
}


/* ################## ESTILO PAGINA POWER BI ###################### */

#powerBi {
    margin-bottom: 20px;
}

.principal{
    width: 250px;
    height: 150px;
    background-color: #02d1f5;
    border-radius: 10px;
    padding-top: 5px;
    
}



.bi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.bi img {
    width: 90%;
    height: 60%;
    margin: 5px 0px;
}

.bi button {
    width: 150px;
    height: 25px;
    background-color: #02d1f5;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
}


/* MIDIAS CRIERES */
@media screen and (max-width: 1020px) {
    .meu-desktop, .btn-contato {
        display: none;
    }

    .flex {
        flex-direction: column;
    }

}


@media (max-width: 395px) {
    section.topo-do-site h1 {
        font-size: 2rem;
        
    }

    section.topo-do-site .img-topo-site img {
        width: 300px;
        height: 300px;
    }

    section.sobre .img-sobre img {
        width: 300px;
        height: 300px;
    }

    section.portfolio .img-port {
        width: 300px;
        margin: auto;
    }

    section.portfolio .titulo {
        font-size: 2rem;
    }
}












